.product-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    width: 100%;

}

.images-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-image-container {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 90%;
    height: 90%;
    object-fit: contain;   
}

.additional-images-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.additional-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-description {
    text-align: justify;
}

.buy-button-container {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .product-card {
        flex-direction: column;
    }

    .main-image {
        width: 50%;
        height: 50%;
    }
}
